<ul>
	<li><em>— Projects</em></li>
	<li><a href="/projects/astellas-app/" title="Astellas App">Astellas App</a></li>
	<li><a href="/projects/millia-oz/" title="Millia Oz">Millia Oz</a></li>
	<li><a href="/projects/o2-changing/" title="Things are changing">Things are changing</a></li>
	<li><a href="/projects/hiscox-installation/" title="Hiscox Installation">Hiscox Installation</a></li>
	<li><a href="/projects/x-wife/" title="X-Wife">X-Wife</a></li>
	<li><a href="/projects/zippy-games/" title="Zippy games">Zippy games</a></li>
	<li><a href="/projects/opel-astra-2010-adverts/" title="Opel Astra 2010 adverts">Opel Astra 2010 adverts</a></li>
	<li><a href="/projects/oonique-candles/" title="Oonique Candles">Oonique Candles</a></li>
	<li><a href="/projects/augmented-reality-demos/" title="Augmented Reality demos">Augmented Reality demos</a></li>
	<li><a href="/projects/casinos-de-angola/" title="Casinos de Angola">Casinos de Angola</a></li>
	<li><a href="/projects/mais-que-um-sapato/" title="Mais Que Um Sapato">Mais Que Um Sapato</a></li>
	<li><a href="/projects/galp-tangerina-manual/" title="Galp Tangerina Manual">Galp Tangerina Manual</a></li>
	<li><a href="/projects/volta-ao-mundo/" title="Volta ao Mundo">Volta ao Mundo</a></li>
	<li><a href="/projects/graphic-design-ventures/" title="Graphic Design ventures">Graphic Design ventures</a></li>
	<li><a href="/projects/grao-vasco/" title="Grão Vasco">Grão Vasco</a></li>
	<li><a href="/projects/illustrations/" title="Illustrations">Illustrations</a></li>
	<li><a href="/projects/vale-do-lobo-kiosks/" title="Vale do Lobo kiosks">Vale do Lobo kiosks</a></li>
	<li><a href="/projects/vale-do-lobo-com/" title="Vale do Lobo (.com)">Vale do Lobo (.com)</a></li>
	<li><a href="/projects/miguel-praia-com/" title="Miguel Praia (.com)">Miguel Praia (.com)</a></li>
	<li><a href="/projects/miguel-praia-wsbk-04/" title="Miguel Praia WSBK'04">Miguel Praia WSBK'04</a></li>
	<li><a href="/projects/once-online-projects/" title="Once Online Projects">Once Online Projects</a></li>
	<li><a href="/projects/never-online-projects/" title="Never Online Projects">Never Online Projects</a></li>

	<li><em>— By the way</em></li>
	<li><a href="/about/" title="About">About</a></li>
	<li><a href="/contacts/" title="Contacts">Contacts</a></li>
</ul>