if @extra_columns_title do 
	@extra_columns_title 
endif
if @extra_column1 do
<div class="skills col">
	@extra_column1
</div>
endif
if @extra_column2 do
<div class="skills col">
	@extra_column2
</div>
endif
if @extra_column3 do
<div class="skills col">
	@extra_column3
</div>
endif
<hr class="clear">
if @extra_column4 do
<div class="skills col">
	@extra_column4
</div>
endif
if @extra_column5 do
<div class="skills col">
	@extra_column5
</div>
endif
if @extra_column6 do
<div class="skills col">
	@extra_column6
</div>
endif